**appsettings.Development.json
**{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "ConnectionStrings": {
        "DefaultConnection": ""
    },
    "OAuth": {
        "ClientId": "",
        "Client": ""
    },
    "OpenAi": {
        "ApiKey": "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"
    }
}










**/bin