@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-primary;
    }
    .botPrompt {
        @apply self-start bg-[#A9CBE3] p-3 text-base font-normal leading-5 tracking-tight text-primary-foreground max-w-full;
        border-radius: 16px 16px 16px 0px; /* Användning av border-radius inline-stil */
        white-space: pre-line; /* Användning av white-space inline-stil */
    }
    .userPrompt {
        @apply gap-2 self-end bg-primary p-3 text-base font-normal leading-5 tracking-tight text-primary-foreground max-w-full;
        border-radius: 16px 16px 0px 16px; /* Användning av border-radius inline-stil */
        white-space: pre-line; /* Användning av white-space inline-stil */
    }
}

@layer base {
    :root {
        --background: 150 17% 7%; /*  */
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 162 49% 68%; /*  */
        --primary-foreground: 167, 100%, 11%;

        --secondary: 157, 20%, 75%; /*  */
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        --onBackground: 140 10% 88%;
        --outline: 150 4% 56%;
        --onPrimaryContainer: 161 75% 79%;
        --onPrimary: 167 100% 11%;
        --primaryContainer: 168 100% 16%;
        --onTertiaryContainer: 205 100% 89%;
    }

    .dark {
        --background: 150 17% 7%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 162 49% 68%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 157 20% 75%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;

        --onBackground: 140 10% 88%;
        --outline: 150 4% 56%;
        --onPrimaryContainer: 161 75% 79%;
        --onPrimary: 167 100% 11%;
        --primaryContainer: 168 100% 16%;
        --onTertiaryContainer: 205 100% 89%;
    }
}

.light {
    --background: 140 43% 97%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 167 75% 24%;
    --primary-foreground: 167, 100%, 11%;

    --secondary: 160 14% 34%;

    /* Återstår att fylla i listan */
}

.error-message {
    position: relative;
    width: 100%;
    background-color: #ba1a1a;
    border: 1px solid #000000;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.error-message::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ba1a1a;
}
